{% extends 'base.html.twig' %}
      {% block title %}Json
      {% endblock %}

      {% block titleContent %}Json{% endblock %}
      {% block content %}<p>JsonResponse - {{ rj }}</p>
      {% endblock %}


