{% extends 'base.html.twig' %}
      {% block title %}Number
      {% endblock %}

      {% block menu %}block menu is disabled{% endblock %}
      {% block titleContent %}Number{% endblock %}
      {% block content %}<p>Your number is - {{ number }}</p>
      {% endblock %}


