{% extends 'base.html.twig' %}
      {% block title %}Session
      {% endblock %}

      {% block titleContent %}Session{% endblock %}
      {% block content %}<p>Your number is - {{ currentNumb }}.<br>Your session id is - {{ currentId }} </p>
      {% endblock %}


